*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
 
}

.hero-container{
    max-width: 1600px;
height: 808px;
background-image: url(./images/banner/banner1.png);
background-size: cover;
background-position: center;

display: flex;
justify-content: flex-end;
align-items: center;
padding-right: 230px;
text-align: right;
}
.hero-container .hero{
    width: 525px;
}
.hero-container .hero .title{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 24px;
}
.hero-container .hero .subtitle{
    line-height: 26px;
    margin-bottom: 34px;

}

.btn{
    background-color:#F15B22 ;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 21px 25px;
    font-size: 20px;
    font-weight: 600px;
    text-align: right;
}